@{
    ViewData["Title"] = "Home Page";

    var uid = User.FindFirstValue(ClaimTypes.NameIdentifier);

    var usern = await UserManager.FindByIdAsync(uid);
}
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using System.Security.Claims


@model IEnumerable<Blog_Klea.Models.BlogPost>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))

{

    <div class="text-center">
        <h1 class="display-4">Welcome @usern</h1>
    </div>
    <div class="text-center">
        @foreach (BlogPost item in ViewData["posts"] as IEnumerable<BlogPost>)

        {
            <tr>
                <td>
                    <h3 style="color:indigo">@item.Title</h3>
                    <img src="~/content/blog/@item.Image" style="width:300px;" />
                    <h6>
                        @if (item.Content.ToString().Length > 200)
                        {
                            item.Content = item.Content.Substring(0, 199) + "...";
                        }
                        @item.Content;
                    </h6>
                    <p style="font-size:12px; color:dimgray">
                        @item.PubDate;
                    </p>
                    <p>
                        <a href="https://localhost:44302/BlogPost/Details/ @item.ID"> View more </a>
                    </p>

                </td>

                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>*@
            </tr>
        }

    </div>

}
else
{

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="text-center">
        @foreach (BlogPost item in ViewData["posts"] as IEnumerable<BlogPost>)

        {
            <tr>
                <td>
                    <h3 style="color:indigo">@item.Title</h3>
                    <img src="~/content/blog/@item.Image" style="width:300px;" />
                    <h6>
                        @if (item.Content.ToString().Length > 200)
                        {
                            item.Content = item.Content.Substring(0, 199) + "...";
                        }
                        @item.Content;
                    </h6>
                    <p style="font-size:12px; color:dimgray">
                        @item.PubDate;
                    </p>
                    <p>
                        <a href="https://localhost:44302/BlogPost/Details/ @item.ID"> View more </a>
                    </p>

                </td>

                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>*@
            </tr>
        }


    </div>
}